<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Floral.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03AC40EC1E2CCEAF0035FF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03AC41001E2CCEB00035FF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03AC410B1E2CCEB00035FF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
